/* BODY 
Set default body color
Set page background color
Set default font family and font weight
*****************************/
body {
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 18%, 87%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
/* P 
For paragraph elements,
Set line height
*****************************/
p {
    line-height: 24px;
}

/* H1 
For Header 1,
Set font color
Set font family
Set font weight
Set line height
*****************************/
h1 {
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    padding-bottom: 1px;
}

/* H2 
For Header 2,
Set font color
Set font family
*****************************/
h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}

/* UL, OL, LI 
For lists and their items,
Set line height
*****************************/
ul, ol, li {
    line-height: 30px;
}

/* OL 
For ordered list (Instructions)
Set color (marker color)
Set font weight (marker weight)
*****************************/
ol {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

/* LI 
For list items,
Set color and weight to inherit from parent
Translate left to align correctly based on preview jpg
*****************************/
li {
    color: inherit;
    font-weight: inherit;
    transform: translate(-12px, 0px);
}

/* HR 
Set width
*****************************/
hr {
    width: 102%;
}

/* .CARD 
Set background color
Set margins (top 100px, l/r 20%, bottom 80px)
Height and width to fit remaining space
Set border and radius (curved corners)
Set padding (top .8rem, l/r .8rem, bottom 1.2rem)
*****************************/
.card {
    background-color: white;
    margin: 100px 20% 80px;
    height: auto;
    width: auto;
    min-width: 300px;
    max-width: 3000px;
    border: white solid 1rem;
    border-radius: 1rem;
    padding: .8rem .8rem 1.2rem;
}

/* .IMG-HEAD 
Set width and height to fill space (responsive)
Set border raadius for curved corners
*****************************/
.img-head {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* .PREP-DIV
For Prepration time box,
Set background color,
Set height and width (fill width and auto height)
Set font color (for title and markers)
Border radius for curved corners
Padding (top 25, l/r 25, bottom 10)
Top margin
INCOMPLETE: markers on ordered lists smaller, can adjust with font size
increased spacing between markers and text 
*****************************/
.prep-div {
    background-color: hsl(330, 100%, 98%);
    height: 100%;
    width: fill;
    color: hsl(332, 51%, 32%);
    border-radius: 10px;
    padding: 25px 25px 10px;
    margin-top: 25px;
}

/* .PREP-P 
For Preparation Time formatting (p element),
Set text weight/size
*****************************/
.prep-p {
    font-weight: 700;
    font-size: 20px;
}

/* .LI-THIN 
For instructions, set item text weight to be thinner than marker text
*****************************/
.li-thin {
    font-weight: 400;
}


/* .DEF 
For list items,
Set text color back to default text color and size
*****************************/
.def {
    color: hsl(30, 10%, 34%);
    transform: translate(18px, 0px);
    font-size: 16px;
}

/* .ING-LIST 
For Ingredient list,
Set marker color
*****************************/
#ing-list {
    color: hsl(14, 45%, 36%);
}

/* .TABLE 
For table,
Set padding and line height
*****************************/
.table {
    padding-bottom: 40px;
    line-height: 40px;
}

/* .NUTRITION 
For column 1, set margin/float/width
*****************************/
.nutrition {
    margin-left: 4%;
    float: left;
    width: 50%;
}

/* .AMOUNT 
For column 2, set float/width
Set text color
*****************************/
.amount {
    float: left;
    width: auto;
    color: hsl(14, 45%, 36%);
}

/* .ATTRIBUTION 
For attribution,
Set font size
Align center
Padding 30px
*****************************/
.attribution { 
    font-size: 12.5px; 
    text-align: center;
    padding: 30px;
}

/* .ATTRIBUTION A
For attribution links,
Set font color for theme
*****************************/
.attribution a { 
    color: hsl(14, 45%, 36%); 
}